<%# Write your code here! %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Greeting Page</title>
  </head>
  <body>
    <p>Hi <%= @user_name %>, nice to meet you!</p>
  </body>
</html>
