<%# Write your code here! %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Greetings!</title>
  </head>
  <body>
    <h1>Hi <%=@name%>, nice to meet you!</h1>
  </body>
</html>
