<!DOCTYPE html>
<html>
  <head>
  <title>index.html</title>
  </head>
  
  <body>
    <h1>Welcome!</h1>
    
     <form action="/greet" method="POST">
       <p>Name:</p>
       <input type="text" name="user_name" id="user_name" />
       <p>Password:</p>
       <input type="password" name="password" id="password" />
       <input type="submit" value="Submit" />
    </form>
  </body>
</html>
