<%# Write your code here! %>
<h1>Welcome!</h1>
 
<form action="/greet" method="POST">
  <label for="name_field">Name:</label>
 
  <p><input type="text" name="user_name" id="name_field" /></p>
 
  <input type="submit" value="Submit"/>
</form>