<%# Write your code here! %>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <h1>Welcome!</h1>
  <form action="/greet" method="POST">
    <input type="text" name="user_name">
    <input type="submit" value="Submit">
  </form>
</body>
</html>