<h1>Welcome!</h1>

<form class="/greet" method="POST">
  <label for="user_name">Name:</label>

  <p><input type="textarea" name="user_name" value="user_name"></p>

  <input type="submit" value="Submit"/>
</form>
