<%# Write your code here! %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
  </head>

  <body>
    <h1>Welcome!</h1>

    <form action="/greet" method="POST">
      <label for="user_name">What is your name?</label>
      <input type="text" name="user_name" id="user_name">
      <input type="submit" name="Submit" value="Submit">
    </form>
  </body>
</html>
